<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{ app.request.basepath }}/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ app.request.basepath }}/css/pneu.css" rel="stylesheet">
    <title>PneuMoney - {% block title %}{% endblock %}</title>
</head>
<body>
  <div class="container">
      <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
          <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-target">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="http://pneumoney/web/index.php">PneuMoney</a>
              </div>

              <div class="collapse navbar-collapse" id="navbar-collapse-target">
                  <ul class="nav navbar-nav">
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">Marque <b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        {% for marque in marques %}
                          <li><a href="{{ path('marque', { 'id': marque.id }) }}">{{marque.nom}}</a></li>
                        {% endfor %}
                      </ul>
                    </li>
                  </ul>
              </div>
          </div><!-- /.container -->
      </nav>
        <div id="content">{% block content %}{% endblock %}</div>
        <footer class="footer">
            <a href="https://github.com/polytechlyon-isi2/PneuMoney">PneuMoney</a> est un site de vente de pneus pour les grands et les petits
        </footer>
    </div>

     <!-- jQuery -->
      <script src="{{ app.request.basepath }}/lib/jquery/jquery-1.11.1.min.js"></script>
      <!-- JavaScript Boostrap plugin -->
      <script src="{{ app.request.basepath }}/lib/bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
