{% extends "layout.html.twig" %}

{% block title %}{{ marque.nom }}{% endblock %}

{% block content %}
{% for pneu in pneus %}
<div class="container">
              <div class="jumbotron">
                  <h1><a class="pneuTitle" href="{{ path('pneu', { 'id': pneu.id }) }}">{{ pneu.marque}} {{ pneu.taille}}</a></h1>
                  <p> <b>Prix : </b>{{ pneu.prix }} €</br></p></div>
              </div>
            </div>
{% endfor %}
{% endblock %}
