{% extends "layout.html.twig" %}

{% block title %}{{ pneu.marque }} {{ pneu.taille }}{% endblock %}

{% block content %}

<div class="container">
              <div class="jumbotron">
                  <h2>{{ pneu.marque }} {{ pneu.taille }}</h2>
                  <p>{{ pneu.id }}</p>
                  <img src="{{ app.request.basepath }}/images/{{pneu.image}}" />
                  <p>Ce pneu coute {{ pneu.prix }}</p>
              </div>
            </div>
{% endblock %}
