{% extends "layout.html.twig" %}

{% block title %}{{ pneu.marque }} {{ pneu.taille }}{% endblock %}

{% block content %}

<div class="container">
              <div class="jumbotron">
                  <h2>{{ pneu.marque }} {{ pneu.taille }}</h2>
                  <p>{{ pneu.id }}</p>
                  <img src={{ app.request.basepath }}/{{pneu.image}} alt="arobas" class="col-xs-12 col-sm-4 col-md-3 col-lg-3" style="width:250px; height:250px;"/>
                  <p>Ce pneu coute {{ pneu.prix }}</p>
              </div>
            </div>
{% endblock %}
